body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f0f0f0;
  }
  canvas {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 15%;
  }
  #startContainer {
    position: absolute;
    top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  #startContainer select {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  #startConversationBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  #startConversationBtn:hover {
    background-color: #0056b3;
  }
  #instructionsContainer {
    position: absolute;
    bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  #instructionsInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 14px;
  }
  #updateInstructionsBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  #updateInstructionsBtn:hover {
    background-color: #0056b3;
  }
  #buttonContainer {
    position: absolute;
    bottom: 250px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    flex-direction: column;
    text-align: center;
  }
  .circle-button img {
    width: 50%;
    height: 50%;
  }
  .circle-button.selected {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  }
  .button-title {
    margin-top: 5px;
    font-size: 12px;
  }
  @media only screen and (max-width: 768px) {
    #buttonContainer {
      bottom: 150px;
      gap: 10px;
    }
    #instructionsContainer {
      bottom: 10px;
      width: 350px;
    }
    #startContainer {
      top: 10px;
      width: 350px;
    }
    canvas {
      margin-bottom: 50%;
    }
  }